html {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  margin-left: 1em;
}

div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Courier New", Courier, monospace;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  width: 20em;
}

input {
  width: 20em;
  font-size: inherit;
   font-family: inherit;
}
button {
  height: 1.7em;
  font-size: 0.7em;
  background-color: lightgreen;
}

.data {
  margin-top: 2px;
  margin-bottom: 0.5em;
  width: 30em;
  min-height: 1.2em;
  border: 1px solid lightgreen;
  white-space: pre-wrap;
  padding: 4px;
}
